@{

    if (HttpContext.Current.Session["log"] == null)
    {
        HttpContext.Current.Session.Add("log", "");
    }
    var log = HttpContext.Current.Session["log"].ToString();
    <p class="text-width h4">Logs</p>
    <textarea class="text-width" rows="10" >@log</textarea>
}