.list-center-unmarked { }

ul {
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

ul > li { margin: 0; }

.float-left { float: left; }

.float-right li:first-child { float: left; }

.float-right li {
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}

.text-width {
    margin-left: 10%;
    
    margin-right: 10%;
    width: 80%;
}